<h1>Tasks</h1>

<% @tasks.each do |task| %>
  <p>
    <%= task.completed ? '[X]' : '[ ]' %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </p>
<% end %>


<%= link_to "Create new", new_path %>
